certifi
cffi
charset-normalizer
comtypes
idna
numpy
Pillow
PyAudio
pycparser
pydub
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5-sip
python-vlc
pyttsx3
pywin32
requests
soundfile
SpeechRecognition
typing_extensions
urllib3
